body {
  font-family: sans-serif;
}
header h1 {
  color: white;
  margin: 0px;
  padding: 0.5em;
  display: inline-block;
}
ul.nav-tabs {
  vertical-align: bottom;
  display: inline-block;
}
.nav-tabs > li > a {
  color: white;
}
.nav-tabs > li > a:hover{
  color: black;
}
.hidden {
  display: none;
}
.controlarea {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
}
#runs {
  height: 500px;
  overflow-y: scroll;
}
#ab_runs {
  height: 700px;
  overflow-y: scroll;
}
#ab_image {
    background: hsl(120,100%,95%); /* light green */
}
#ab_image_switcher {
  display: block;
  text-align: center;
}
div.row {
  margin-left: 0px;
}
#ab_image_id_a,
#ab_image_id_b {
  display: inline-block;
  float: none;
  padding: 10px 15px;
}
#ab_run_bpps {
  height: 40px;
}
#ab_run_images {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.run,
.ab_run {
  display: block;
  background-color: white;
  color: black;
  margin: 5px;
  padding: 5px;
  box-shadow: 0px 0px 0.2em rgba(0,0,0,0.3);
  word-wrap: break-word;
  white-space: pre-wrap;
}
.run:hover,
.ab_run:hover {
  box-shadow: 0px 0px 0.2em rgba(0,0,0,0.5);
}
.run_meta {
  font-size: 9px;
}
.run_flag {
  float: right;
}
#rd_graph {
  height: 500px;
  background-color: white;
}
.selected,
.selected_a {
  background-color: green;
}
#ab_image_id_b.selected,
.selected_b {
  background-color: crimson;
}
header {
  background-color: #5F007D;
  box-shadow: 0px 0px 5em #2A0038 inset;
}
.controlbox {
  padding: 10px;
  border-radius: 3px;
  word-wrap: break-word;
}
#job_log {
  height: 300px;
  overflow: scroll;
}
div.cancel {
  overflow: auto;
  margin-bottom: 10px;
}
button.cancel {
  float: right;
}
